/* 헤더 */
header{width: 100%;height: 200px;}
/* 서브 */
#sub{width: 1140px; height: 40.5px;line-height: 40.5px;margin: 0 auto;
font-size: 14px;}
#sub .sub_left{float: left;}
#sub .sub_left a{margin-right: 15px;}
#sub .sub_right{float: right;height: 100%;}
#sub .sub_right a{margin-left: 15px;}
#sub .sub_right img{height: 14px;margin-top: 5px;}

/* 메인 */
#main{width: 1140px;height: 81px;margin: 0 auto;display: flex;
flex-direction: row;}
#main .logo{width: 25%; height: 100%; padding: 15px 0;}
    #main .logo img{height: 100%;}
#main .Search{width: 50%; height: 100%;display: flex;
flex-direction: row;padding: 15px 0;}
    #main .Search input{width: 80%; height: 100%;font-size: 15px;padding-left: 15px;}
    #main .Search button{width: 20%; height: 100%;}
#main .event{width: 25%;height: 100%;}
    #main .event_box{width: 80%;height: 100%; float: right;
    position: relative;overflow: hidden;}
    #main .event_box ul{width: 300%;height: 100%;}
    #main .event_box li{width: 33.333%;height: 100%;float: left;}
    #main .event_box a{width: 100%;height: 100%;}
    #main .event_box a div{width: 100%;height: 100%;background-position: center;
    background-size: cover;}
    #main .event_box .event1 div{background-image: url(../img/common/event/event1.jpg);}
    #main .event_box .event2 div{background-image: url(../img/common/event/event2.jpg);}
    #main .event_box .event3 div{background-image: url(../img/common/event/event3.jpg);}
    #main .event_box .arrow{width: 50px;height: 20px;
    position: absolute;right: 10px;bottom: 10px;}
    #main .event_box .arrow img{height: 100%;}
/* 메뉴 */
#menu{width: 1140px; height: 78px;margin: 0 auto;display: flex;
flex-direction: row;padding: 12px 0;}
#menu .sub_menu{width: 23%; height: 100%;
padding: 14px 0;padding-left: 60px;border: 1px solid rgb(202, 202, 202);cursor: pointer;}
    #menu .sub_menu img[alt="menu"]{height: 18px;width: 16px;display: inline-block;
    margin-bottom: -3px;}
    #menu .sub_menu p{display: inline-block;font-weight: bold; font-size: 13px;}
    #menu .sub_menu img[alt="bottom"]{height: 8px;margin-left: 4px;margin-bottom: 1px;}

#menu .telephone{width: 27%; height: 100%;
padding: 11px 0;padding-left: 30px;}
    #menu .telephone img{height: 100%;display: inline-block;margin-right: 7px;}
    #menu .telephone p{display: inline-block;font-size: 12px;}
    #menu .telephone p strong{font-size: 14px;}

#menu .main_nav{width: 50%; height: 100%; }

    #menu .main_nav .main_ul{width: 100%;display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
    #menu .main_nav .main_li{width: 20%;}
    #menu .main_nav .main_li a{width: 100%; font-size: 16px;line-height: 53px;display: inline-block;
    text-align: center;}
    #menu .main_nav .main_li img{height: 7px; margin-bottom: 1px;}

    #menu .main_nav .sub_ul{border: 1px solid rgb(202, 202, 202);width: 180px;
    padding: 20px 0 20px 20px; display: none;}
    #menu .main_nav .sub_li a{text-align: left; line-height: 0px;margin: 17px 0;font-size: 14px;}